<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

    <ul class="nav">  
        <a class="brand" target="_blank" href="http://mrhgestao.com.br">Mrh</a>  
        
        <% if user_signed_in? %>
        <li class="active"><a href="/">Home</a></li>  

        <li class="dropdown" id="cadastrosmenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros<b class="caret"></b></a>
          <ul class="dropdown-menu">  
                <li><a href="/user">Usuário</a></li>  
                <li><a href="/setors">Setor</a></li>  
                <li><a href="/servicos">Serviço</a></li>  
            </ul>  
        </li>

        <li class="dropdown" id="indicacoesmenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Indicações<b class="caret"></b></a>
          <ul class="dropdown-menu">  
                <li><a href="/indicacaos/new">Indicar</a></li>  
                <li><a href="/indicacaos">Listar</a></li>  
            </ul>  
        </li>

        <li class="dropdown" id="indicacoesmenu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Relatórios<b class="caret"></b></a>
          <ul class="dropdown-menu">  
                <li><a href="#">Indicações</a></li>  
            </ul>  
        </li>

        <% end %>
        <li><a href="#modal_sobre" data-toggle="modal" data-target="#myModal">Sobre</a></li>  
    </ul> 

      <ul class="nav">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
